.randomizer {
    width: 1200px;
    background-color: #000000;
}

#survivor-portrait {
    background-color: yellow;
    width: 350px;
    height: 350px;
    float: left;
}

.survivor-items {
    background-color: violet;
}

.survivor-perks {
    background-color: lightcoral;
}

.perk {
    background-color: aqua;
    width: 256px;
    height: 256px;
    float: left;
}

.controls {
    clear: right;
}